@import "normalize";

@mixin tablet {
  @media screen and(min-width: 900px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 899px) {
    @content;
  }
}

@mixin max-wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin setFont {
  font-family: "Railway", sans-serif;
}

.navbar-nav {
  @include setFont;
  font-size: 2rem;
  padding: 0 30px;

  li {
    padding: 0 10px;
  }
  .dropdown-item {
    font-size: 2rem;
  }
}
.navbar-brand {
  @include setFont;
  font-size: 2rem;
  padding: 0 30px;
}
.navbar-toggler-icon {
  font-size: 2.5em;
}
.navbar-toggler {
  padding: 0.25rem 1.25rem;
}
main {
  .header {
    padding-top: 3em;
    text-align: center;
    margin-bottom: 5em;
    > .content {
      margin: 0 auto;
      display: inline-grid;
      align-items: center;
      @include tablet {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
      }
      .image {
        text-align: right;
        margin-bottom: 2em;
        box-shadow: none;
        img {
          @include tablet {
            border-radius: 30px;
            max-width: 500px;
            box-shadow: 3px 3px 3px darkslategrey;
          }
          object-fit: scale-down;
          max-width: 100%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .infoBox {
          text-align: center;
          width: max-content;
          padding: 2em 2em;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .featuredProducts {
    > .content {
      @include max-wrap;
      @include setFont;
      text-align: center;
      margin-bottom: 3em;

      h2 {
        margin: 0 auto;
        display: inline-block;
        justify-content: center;
        font-size: 2.5rem;
        background: #fff;
        padding: 0 3em 1em;
        margin-bottom: 2em;
        border-bottom: 2px solid black;
      }

      .imageBox {
        display: grid;
        width: 100%;
        @include tablet {
          @include max-wrap;
          display: flex;
        }

        justify-content: center;
        column-gap: 30px;
        flex-wrap: wrap;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
        .item {
          display: grid;
          @include tablet {
            grid-template-columns: repeat(1fr);
          }

          position: relative;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 2em;
          padding: 0 30px;
          img {
            border-radius: 15px;
            max-width: 350px;
            @include mobile {
              border-radius: none;
            }
          }
          h3,
          h4 {
            @include setFont();
            margin: 1em auto;
            color: #000;
          }
          a {
            position: relative;
            top: -70px;
            margin: 0 auto;
            font-size: 2.4rem;
            width: max-content;
          }
        }
      }
    }
  }

  .about {
    width: 100%;
    @include setFont;
    background-color: rgba(32, 178, 171, 0.3);
    > .content {
      padding: 2em 30px;

      @include tablet {
        margin: 0 auto;
        width: 70%;
      }
      h2 {
        margin: 0 auto;
        display: block;
        justify-content: flex-start;
        font-size: 2.5rem;
        padding: 0 0 1em;
        margin-bottom: 2em;
        border-bottom: 2px solid black;
      }
    }
  }

  .photo-section {
    > .content {
      @include max-wrap;
      padding: 0 30px;
      margin: 0 auto 3em;

      display: grid;
      @include tablet {
        grid-template-columns: 35% 1fr;
        column-gap: 30px;
      }
    }
  }
  footer {
    background-color: lightseagreen;
    padding: 1em 30px;
    width: 100%;
    @include tablet {
      text-align: center;
    }
    p {
      @include max-wrap;
    }
  }
}
